<div class="site-section">
    <div class="container">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Hasret Biçak
                </h1>
                <div class="subheading mb-5">
                    Fron End Developer 
                    <a href="mailto:hsrt.bck002@gmail.com" style="text-decoration: none; color: #495057; font-size: 25px; margin-left: 30px;" ><i class="icon-envelope"></i></a>
                </div>
                <p class="lead mb-5">I am a determined , aspiring creative front-end developer with no experience. I intend to leverage my
                    customer-focused mindset, problem-solving abilities, and passion for technology as valuable assets in my
                    new career path. With my education and confidence, I aim to contribute to your software projects and
                    continue my journey of continuous learning and growth. I am an Innovative,
                    solution focused, strong communication skills, coloborative, allrounder, energetic. Seeking for opportunities
                    to develop my career.</p>
                <div class="social-icons">
                    <a class="social-icon" href="https://github.com/hasretbicak"><i class="icon-github"></i></a>
                    <a class="social-icon" href="https://twitter.com/hasretbck"><i class="icon-twitter"></i></a>
                    <a class="social-icon" href="#"><i class="icon-facebook"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5" style="margin-top: 20px;">Projects</h2>
                <div class="subheading mb-3"></div>

                <ul class="fa-ul mb-0">
                    <li style="margin-bottom: 15px;"><strong >C# Restaurant Automation</strong>
                        <a href="https://github.com/hasretbicak/CSharp-VisualStudio-RestoranOtomasyonu"
                            class="experience-icon-link"><span class="fa-li"></span>Code</a>
                        <a href="https://www.youtube.com/watch?v=X4pfi_quu0I&t=47s&ab_channel=HasretBi%C3%A7ak"
                            class="experience-icon-link"><span class="fa-li"></span>Live View</a>
                        

                    </li>
                    <li><strong>React Burger Project</strong> 
                        <a href="https://github.com/hasretbicak/BurgerProject"
                            class="experience-icon-link"><span class="fa-li"></span>Code</a>
                        <a href="https://burger-project-react.netlify.app/"
                            class="experience-icon-link"><span class="fa-li"></span>Live View</a>
                            <strong class="technology">Teknologies : React, CSS, Context API, React Router
                            </strong>
                            <p class="tech-side">This site is made up of react components.(Home, Menu, About, Contact ) Styled with CSS and page
                                routing done with React Router. Context API was created and integrated into the project. Data was pulled
                                from the API to the Menu component.
                            </p>

                    </li>
                    <li style="margin-bottom: 15px;"> <strong>Movie Project</strong>
                        <a href="https://github.com/hasretbicak/MovieProject-ES6"
                            class="experience-icon-link"><span class="fa-li"></span>Code</a>
                        <a href="https://movieproject-es6.netlify.app/"
                            class="experience-icon-link"><span class="fa-li"></span>Live View</a>

                    </li>
                    <li> <strong>Redux Northwind Project</strong> 
                        <a href="https://github.com/hasretbicak/ReduxNorthwindApp"
                            class="experience-icon-link"><span class="fa-li"></span>Code</a>
                        <a href="#"
                            class="experience-icon-link"><span class="fa-li"></span>Live View</a>
                            <strong class="technology">Teknologies : React, Reactstrap, Bootstrap, React Router, Json-server, Redux Thunk
                            </strong>
                            <p class="tech-side">This project is developed using React, styled with Reactsrap and Bootstrap, and integrated with Alertifyjs for
                                alert messages. I provided page redirects with React Router. An API Call was made with jsonplaceholder and
                                integrated into the project. It emphasizes a robust React component architecture, leveraging modular and
                                reusable components to create user-friendly interfaces.
                                
                            </p> 

                    </li>
                    
                    <li>
                        <a href="https://github.com/hasretbicak" style="font-size: 25px; margin-top: 15px;"
                            class="experience-icon-link"><span class="fa-li"><i class="icon-check"></i></span> You can visit my page for more....</a>

                    </li>

                </ul>
            </div>
        </section>
    </div>
</div>